@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
  font-size: 20px;
  font-family: "hanna";
  color: #263238;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  min-width: 320px;
  background: #f5f5f5;
}
header {
  overflow: hidden;
  height: 50px;
}
header #score {
  float: right;
}
header #score span.title {
  color: #757575;
  font-size: 1em;
  display: inline-block;
}
header #score span.score {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
}
header #timer #clock {
  float: left;
  display: block;
  border: 5px solid #bf360c;
  background: #263238;
  color: #ffffff;
  border-radius: 0 0 10px 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 1em;
}
header #timer progress {
  -webkit-appearance: none;
  appearance: none;
  width: 35%;
  margin-top: 10px;
  height: 30px;
  border: 0;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: #bdbdbd;
}
header #timer progress:not([value]) {
  background-color: #bdbdbd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
header #timer progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0 3px 3px 0;
  height: 30px;
}
header #timer progress::-moz-progress-bar {
  border-radius: 0 3px 3px 0;
  background-color: #259b24;
}
header #timer progress::-webkit-progress-bar {
  background-color: #bdbdbd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
header #timer progress::-webkit-progress-value {
  background-color: #259b24;
}
.score {
  color: #212121;
}
#map {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
div.tile {
  border-radius: 3px;
  background: #cccccc;
  width: 50px;
  height: 50px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  float: left;
}
div#tiles {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #f5f5f5;
  box-shadow: 0 0 3px #bdbdbd;
  margin: 0px auto 0 auto;
  padding: 5px 0 0 5px;
  overflow: hidden;
  max-width: 495px;
  min-width: 315px;
}
#ad {
  box-shadow: 0 0 3px #bdbdbd;
  background: #f5f5f5;
  margin: 5px 0 0 0;
  width: 100%;
}
#ad .adsbygoogle {
  margin: 0 auto;
}
.panel {
  top: 5px;
  left: 5px;
  position: absolute;
  background: #f5f5f5;
}
.panel#end {
  display: none;
}
.panel .dialog {
  text-align: center;
}
.panel .dialog h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  line-height: 2em;
}
.panel .dialog p {
  font-size: 1em;
}
.panel .dialog p strong {
  font-size: 1.3em;
}
.panel .dialog button.start {
  display: block;
  font-size: 1em;
  height: 3em;
  width: 5em;
  margin: 10px auto 1em auto;
  background: #e65100;
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #bdbdbd;
}
